* {
  box-sizing: border-box;
}

.price {
  margin-left: 10px;
}

.editbtn, .deletebtn {
  width: 20px;
  height: 20px;
  background-size: contain;
  border: 1px solid black;
  margin-left: 5px;
}

.editbtn {
  background-image: url('./img/edit.png');
}

.deletebtn {
  background-image: url('./img/delete.png');
}